Click==7.0
dnspython==1.16.0
enum34==1.1.6
eventlet==0.31.0
Flask==2.3.2
Flask-SocketIO==4.2.1
greenlet==0.4.17
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
monotonic==1.5
python-engineio==3.11.1
python-socketio==4.4.0
six==1.13.0
Werkzeug==0.16.0
